<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <title>UIkitty</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@uikitty1">
        <meta name="twitter:image" content="https://uikitty.com/images/uikit-meta.png">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="UIkitty">
        <meta property="og:description" content="UIkitty, a lightweight and modular front-end framework for developing fast and powerful web interfaces. UIkit for Drupal 8.">
        <meta property="og:url" content="https://uikitty.com/">
        <meta property="og:site_name" content="UIkitty">
        <meta property="og:image" content="https://uikitty.com/images/uikit-meta.png">
        <link rel="stylesheet" href="css/theme.css?{{BUILD}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.1.1/vue-router.min.js"></script>
        <script src="assets/uikit/dist/js/uikit.min.js?{{BUILD}}" defer></script>
        <script src="assets/uikit/dist/js/uikit-icons.min.js?{{BUILD}}" defer></script>
        <script src="app/main.min.js?{{BUILD}}" defer></script>
        <script>
            // google analytics
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-87317176-1', 'uikitty.com');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <div id="app"></div>
    </body>

</html>
